<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>url</key>
		<string>https://v11-tt.ixigua.com/4ffee0d47f1de1b5156778c91e76fa5e/5b3dd30c/video/m/2203b34e1c7c4924c299cd10067064ef0ec115646510000a4e81abf4aab/</string>
		<key>name</key>
		<string>亚索在干吗？</string>
	</dict>
    <dict>
        <key>url</key>
        <string>https://v11-tt.ixigua.com/4ffee0d47f1de1b5156778c91e76fa5e/5b3dd30c/video/m/2203b34e1c7c4924c299cd10067064ef0ec115646510000a4e81abf4aab/</string>
        <key>name</key>
        <string>亚索在干吗？</string>
    </dict>
    <dict>
        <key>url</key>
        <string>https://v11-tt.ixigua.com/4ffee0d47f1de1b5156778c91e76fa5e/5b3dd30c/video/m/2203b34e1c7c4924c299cd10067064ef0ec115646510000a4e81abf4aab/</string>
        <key>name</key>
        <string>亚索在干吗？</string>
    </dict>
</array>
</plist>
