<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>url</key>
		<string>https://v6-tt.ixigua.com/video/m/220c96ae99574444d4897eb61a43123b562115c6ee1000046b412383607/?AWSAccessKeyId=qh0h9TdcEMoS2oPj7aKX&amp;Expires=1539077818&amp;Signature=CKF5R8N1lMyTSMoOCtrXsr0XN7Q%3D</string>
		<key>name</key>
		<string>亚索在干吗？</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://v6-tt.ixigua.com/video/m/220c96ae99574444d4897eb61a43123b562115c6ee1000046b412383607/?AWSAccessKeyId=qh0h9TdcEMoS2oPj7aKX&amp;Expires=1539077818&amp;Signature=CKF5R8N1lMyTSMoOCtrXsr0XN7Q%3D</string>
		<key>name</key>
		<string>亚索在干吗？</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://v6-tt.ixigua.com/video/m/220c96ae99574444d4897eb61a43123b562115c6ee1000046b412383607/?AWSAccessKeyId=qh0h9TdcEMoS2oPj7aKX&amp;Expires=1539077818&amp;Signature=CKF5R8N1lMyTSMoOCtrXsr0XN7Q%3D</string>
		<key>name</key>
		<string>亚索在干吗？</string>
	</dict>
</array>
</plist>
